.login100-form-btn, .identification-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.title, .login100-form-title {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

/* --------------------------------- */
/* ---- [ authentication page ] ---- */
/* --------------------------------- */
.identification-container {
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.identification-box {
  width: 500px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 10s;
  -o-transition: all 10s;
  -ms-transition: all 10s;
  -moz-transition: all 10s;
  transition: all 10s;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.login-100-form {
  position: relative;
  width: 100%;
}

.login100-form-title {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0e7270;
  padding: 50px 0px 39px 0px;
}

.input100 {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #0e7270;
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px 0 35px;
  border: none;
}

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  z-index: 1;
}

/*---[ Focus Input ]---*/
.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 27px;
  background-color: #ebebeb;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*---[ Button ]---*/
.login100-form-btn {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #0e7270;
  border-radius: 25px;
  border: none;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

/* --------------------------------- */
/* -------- [ Dashboard ] ---------- */
/* --------------------------------- */
.dashboard {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: #ebebeb;
}

.leftpanel-container {
  background-color: #0e7270;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5%;
  height: 100vh;
  width: 250px;
}

.leftpanel-top {
  padding: 15px;
  height: 70px;
}

.dashboard-content {
  position: absolute;
  left: 250px;
  width: calc(100vw - 250px);
  top: 0;
  background-color: #ebebeb;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .open {
    left: 0;
    width: 100vw;
  }
}

@media only screen and (max-width: 700px) {
  .hide {
    display: none;
  }
}

.while {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

@media only screen and (max-width: 700px) {
  .nav-label {
    display: none;
  }
}

.navbar {
  height: 70px;
  background-color: #0e7270;
  padding: 0;
}

@media only screen and (min-width: 701px) {
  .navbar-panel-button {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .navbar-panel-button {
    display: inline-block;
    vertical-align: top;
    content: "";
    background-size: 100% 100%;
    margin-left: 10px;
  }
}

.cardboard {
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --- [ add form ] -- */
.formtitle {
  padding: 15px 0 15px 0;
  margin: -10px -10px 15px -10px;
  background-color: rgba(86, 61, 124, 0.15);
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  line-height: 1.2;
}

.formbox {
  position: relative;
  width: 70vw;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=note.css.map */
