{% extends "Note/base.html" %}

{% block content %}
<div class="d-flex" id="wrapper">
{% if categories %}
    <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Categories </div>
    <div class="list-group list-group-flush">
    {% for category in categories %}
        <a href="{% url 'Note:category' category.slug %}" class="list-group-item list-group-item-action bg-light">{{ category.title }}</a>
    {% endfor %}
    </div>
    </div>
    </div>
    
{% else %}
    <p>No categories</p>
{% endif %}
<h1>Notes</h1>
{% if notes %}
    <ul>
    {% for note in notes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.body}}</p>
            <a href="{% url 'Note:detail' note.slug %}" class="card-link">Detail</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No notes</p>
{% endif %}
<a href="{% url 'Note:new_note' %}">Nouvelle note</a>
{% endblock content %}