{% extends "Note/base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block nav %}
<style>
body { 
    background-image: url("{% static 'img/login_bg.png' %}");

    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="far fa-sticky-note fa-lg p-r-10 text-white"></i> Just Note It</a>
    </div>
    <ul class="nav navbar-nav navbar-right nav-pills mb-3">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" href="#login">
            <span class="glyphicon glyphicon-log-in"></span>Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false" href="#signin">
        <span class="glyphicon glyphicon-user"></span> Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="limiter">
  <div class="identification-container">
    <div class="identification-box">
      <div class="login-100-form p-l-55 p-r-55 p-t-178">
        <span class="login100-form-title">
          <i class="far fa-sticky-note fa-lg p-r-10"></i> Just Note It
        </span>
        <div class="tab-content" id="pills-tabContent">
          <div id="login" class="tab-pane fade show active" role="tabpanel">
            <form method="post">
              {% csrf_token %}
              <div class="wrap-input100 m-b-16" data-validate="Please enter username">
                {{ auth.username|add_class:'input100'|attr:"placeholder:Username" }}
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 m-b-16" data-validate="Please enter username">
                {{ auth.password|add_class:'input100'|attr:"placeholder:Password" }}
                <span class="focus-input100"></span>
              </div>
              <div class="container-login100-form-btn p-b-50 p-t-20">
                <input type="Submit" value="Authentication" name="Authentication" class="login100-form-btn">
              </div>
            </form>
          </div>
          <div id="signin" class="tab-pane fade" role="tabpanel">
            <form method="post">
            {% csrf_token %}
            <div class="wrap-input100 m-b-16" data-validate="Please enter username">
              {{ sign_up.username|add_class:'input100'|attr:"placeholder:Username" }}
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 m-b-16" data-validate="Please enter username">
              {{ sign_up.password1|add_class:'input100'|attr:"placeholder:Password" }}
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 m-b-16" data-validate="Please enter username">
              {{ sign_up.password2|add_class:'input100'|attr:"placeholder:Retype your password" }}
              <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn p-b-50 p-t-20">
             <input type="submit" value="Sign up" name="Sign up" class="login100-form-btn">
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock nav %}