{% extends "Note/base.html" %}

{% block nav %}

<div class="dashboard">
  <div class="leftpanel-container">
    <div class="leftpanel-top">
      <span class="title">
        <i class="far fa-sticky-note fa-lg p-r-10"></i> Just Note It
      </span>
    </div>
    <div class="leftpanel-categories d-flex flex-column align-items-center">
      {% for category in categories %}
      <div class="btn-group" role="group">
        <div class="p2 p-t-20"><a href="{% url 'Note:category' category.slug %}" class="btn btn-primary btn-lg">{{ category.title }}</a></div>
        <div class="p2 p-t-20">
          <form action="{% url 'Note:delete_category' category.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
      {% endfor %}
      <div class="p2 p-t-20"><a href="{% url 'Note:new_category' %}" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add Category</a></div>
    </div>
  </div>
  <div class="dashboard-content open">
    <nav class="navbar navbar-expand navbar-dark p-r-10">
      <div class="container-fluid">
        <div class="navbar-header">
        <button class="navbar-panel-button m-r-10 btn btn-primary" type="button" id="panel_button">
          <i class="fas fa-bars"></i>
        </button>
          <a class="navbar-brand m-l-10 m-r-10" href="{% url 'Note:dashboard' %}"><i class="fas fa-columns fa-lg p-r-10 text-white"></i>
            Dashboard</a>
        </div>
        <div class="justify-content-end p-2">
          <ul class="nav navbar-nav navbar-right mb-auto">
            <li class="nav-item m-r-10">
              <a href="{% url 'Note:new_note' %}" class="btn btn-primary btn-primary"><i class="fas fa-plus"></i>
                <span class="nav-label">Add note</span>
              </a>
            </li>
            <li class="nav-item m-r-10">
              <a href="{% url 'Note:logout' %}" class="btn btn-primary btn-primary"><i class="fas fa-user-circle"></i>
                <span class="nav-label">Account</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }} alert alert-success" role="alert" {% endif %}>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></div>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
</div>
</div>
{% endblock nav %}