{% extends "Note/base.html" %}

{% block nav %}

<div class="dashboard">
    <div class="leftpanel-container">
      <div class="leftpanel-top">
        <span class="title">
          <i class="far fa-sticky-note fa-lg p-r-10"></i> Just Note It
        </span>
      </div>
      <div class="leftpanel-categories d-flex flex-column align-items-center">
        {% for category in categories %}
        <div class="p2 p-t-20"><a href="{% url 'Note:category' category.slug %}" class="btn btn-primary btn-lg">{{ category.title }}</a></div>
        {% endfor %}
      </div>
    </div>
    <div class="dashboard-content">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'Note:dashboard' %}"><i class="fas fa-columns fa-lg p-r-10 text-white"></i> Dashboard</a>
          </div>
          <ul class="nav navbar-nav navbar-right nav-pills mb-3">
            <li class="nav-item p-r-10">
              <a href="{% url 'Note:new_note' %}" class="btn btn-primary btn-primary"><i class="fas fa-plus"></i> Add
                note</a>
            </li>
            <li class="nav-item p-r-10">
              <a href="#" class="btn btn-primary btn-primary"><i class="fas fa-user-circle"></i> Account</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </div>
{% endblock nav %}